// izitoast
@import '~izitoast/dist/css/iziToast.min.css';

// Select2
@import '~select2/dist/css/select2.min.css';

// Dropify
@import '~dropify/dist/css/dropify.min.css';
.dropify-wrapper .dropify-message p {
   font-size: initial;
}

// nestable2
@import '~nestable2/jquery.nestable';

// menu builder
.menu-builder .dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    max-width: inherit;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}
.menu-builder .dd .item_actions {
    z-index: 9;
    position: relative;
    top: 10px;
    right: 10px;
}
.menu-builder .dd .item_actions .edit {
    margin-right: 5px;
}
.menu-builder .dd-handle {
    display: block;
    height: 50px;
    margin: 5px 0;
    padding: 14px 25px;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #ccc;
    background: #fafafa;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo .navbar-brand {
    display: none;
}

// DataTables style
.dataTables_wrapper .dataTables_length {
    padding-top: 1rem;
    padding-left: 1rem;
}
.dataTables_wrapper .dataTables_filter {
    padding-top: 1rem;
    padding-right: 1rem;
}
.dataTables_wrapper .dataTables_info {
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.dataTables_wrapper .dataTables_paginate {
    padding-right: 1rem;
}
